#t1c, #t1 {
    white-space: nowrap;
    font-family: Verdana,sans-serif;
    font-size: 14px;
    color: #F7F7F7;
    background: #111;
    text-decoration: none;
}

#c1 {
    background-color: #111;
}
