@media screen and (min-width: 1441px){
    .app-wrapper-web ._3fUe9{
        width: 100% !important;
        height: 100% !important;
        top: 0 !important;
    }
    
}
html .app{
    border-radius: 0 !important;
}
